.header-outer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  padding: 15px 15px;
  align-items: center;
}
.header-logo {
  font-size: 19px;
  color: #999;
}
.header-logo svg {
  padding-right: 10px;
}
.header-btn button {
  padding: 5px 10px;
}
